body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-arimo: Arimo;
  --font-rubik-one: "Rubik One";

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-base: 16px;
  --font-size-6xl: 25px;
  --font-size-31xl: 50px;
  --font-size-11xl: 30px;
  --font-size-mini: 15px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;

  /* Gaps */
  --gap-61xl: 80px;
  --gap-xl: 20px;
  --gap-3xs: 10px;
  --gap-21xl: 40px;
  --gap-340xl: 359px;

  /* Paddings */
  --padding-61xl: 80px;
  --padding-xl: 20px;
  --padding-3xs: 10px;
}
