.output-onlinepngtools-1-icon {
  position: relative;
  width: 100px;
  height: 106.76px;
  object-fit: cover;
}
.kontakt1 {
  text-decoration: none;
  position: relative;
  font-weight: 900;
  color: inherit;
}
.kontakt1:hover {
  color: rgba(0, 0, 0, 0.5);
}
.kontakt,
.navbar1,
.navbarkontakt {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.kontakt {
  border-radius: var(--br-61xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-white);
  justify-content: center;
  padding: var(--padding-5xs);
  cursor: pointer;
  z-index: 0;
}
.navbar1,
.navbarkontakt {
  align-self: stretch;
}
.navbarkontakt {
  margin: 0;
  flex: 1;
  justify-content: flex-end;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
.navbar1 {
  height: 100px;
  justify-content: flex-start;
  padding: 0 var(--padding-11xl);
  box-sizing: border-box;
}
.przygotowanie-nieruchomoci {
  position: relative;
  font-weight: 900;
}
.filmy-promocyjne:hover,
.ndmesssagmailcom:hover,
.online-marketing:hover,
.przygotowanie-nieruchomoci:hover {
  color: var(--color-gray-200);
}
.uslugi {
  border-radius: var(--br-61xl);
  background-color: var(--color-black);
  border: 1px solid var(--color-black);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs);
  cursor: pointer;
  z-index: 3;
}
.filmy-promocyjne {
  position: relative;
  font-weight: 900;
}
.uslugi1,
.uslugi2 {
  border-radius: var(--br-61xl);
  background-color: var(--color-black);
  border: 1px solid var(--color-black);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs);
  cursor: pointer;
  z-index: 2;
}
.uslugi2 {
  z-index: 1;
}
.online-marketing {
  position: relative;
}
.navbarkontakt1,
.uslugi3 {
  flex-direction: row;
  justify-content: center;
}
.uslugi3 {
  border-radius: var(--br-61xl);
  background-color: var(--color-black);
  border: 1px solid var(--color-black);
  display: flex;
  align-items: center;
  padding: var(--padding-5xs);
  cursor: pointer;
  z-index: 0;
}
.navbarkontakt1 {
  margin: 0;
  flex: 1;
  gap: var(--gap-11xl);
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
.h1frame,
.navbarkontakt1,
.page1,
.przygotowanie-nieruchomoci-do {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.przygotowanie-nieruchomoci-do {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 900;
  font-family: inherit;
}
.h1frame,
.page1 {
  overflow: hidden;
  flex-direction: column;
}
.h1frame {
  background-color: var(--color-white);
  height: 1280px;
  flex-shrink: 0;
  justify-content: center;
  opacity: 0;
}
.page1 {
  justify-content: flex-start;
  padding: var(--padding-11xl) 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-roboto);
  position: relative;
  overflow: hidden;
  z-index: 0; 
}
video.bgvid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: -2;      
}
.planujesz-sprzeda-lub {
  position: relative;
  font-weight: 500;
  width: 700px;
  flex-shrink: 0;
}
.co-oferuj,
.planujesz-sprzeda-lub,
.planujesz-sprzeda-lub-wynaj-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.planujesz-sprzeda-lub-wynaj-wrapper {
  border-radius: var(--br-61xl);
  background-color: var(--color-white);
  flex-direction: row;
  padding: var(--padding-xl);
  color: var(--color-black);
}
.co-oferuj {
  margin: 0;
  position: relative;
  font-size: var(--font-size-11xl);
  font-weight: 900;
  font-family: inherit;
  width: 700px;
}
.blank-line {
  margin: 0;
  font-weight: 500;
}
.filmiki-promocyjne-z {
  font-weight: 900;
  font-family: var(--font-roboto);
}
.dziki-nim-twoja {
  font-weight: 500;
}
.filmiki-promocyjne-z-drona-dz {
  margin: 0;
}
.filmiki-promocyjne-z-container1 {
  line-break: anywhere;
  width: 100%;
}
.filmiki-promocyjne-z-container {
  flex-shrink: 0;
}
.dlaczego-warto-mi-container,
.filmiki-promocyjne-z-container,
.nie-jestem-porednikiem {
  position: relative;
  display: flex;
  align-items: center;
  width: 700px;
}
.dlaczego-warto-mi-container {
  margin: 0;
  font-size: var(--font-size-11xl);
  font-weight: 900;
  font-family: inherit;
  height: 79px;
  flex-shrink: 0;
}
.nie-jestem-porednikiem {
  font-weight: 500;
  text-align: left;
}
.main,
.text21frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text21frame {
  height: 1236px;
  gap: var(--gap-mini);
}
.main {
  flex: 1;
  background-color: var(--color-black);
  height: 1440px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-6xl);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
.googlemap {
  position: relative;
  background-color: var(--color-gray-100);
  width: 500px;
  height: 435px;
  overflow: hidden;
  flex-shrink: 0;
}
.main1,
.page2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main1 {
  flex: 1;
  background-color: var(--color-black);
  height: 1440px;
  overflow: hidden;
  flex-direction: column;
}
.page2 {
  align-self: stretch;
  flex-direction: row;
}
.filmy-promocyjne-dla {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 900;
  font-family: inherit;
  width: 1880px;
}
.czy-chcesz-by,
.czy-chcesz-by-twj-biznes-lub-wrapper,
.filmy-promocyjne-dla {
  display: flex;
  align-items: center;
  justify-content: center;
}
.czy-chcesz-by {
  position: relative;
  font-weight: 500;
  width: 1880px;
  flex-shrink: 0;
}
.czy-chcesz-by-twj-biznes-lub-wrapper {
  border-radius: var(--br-61xl);
  background-color: var(--color-black);
  flex-direction: row;
  padding: var(--padding-xl);
  font-size: var(--font-size-6xl);
  color: var(--color-white);
}
.filmiki-z-drona-container {
  flex-shrink: 0;
}
.dlaczego-warto-mi-container2,
.film-promocyjny-to,
.filmiki-z-drona-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 1880px;
}
.dlaczego-warto-mi-container2 {
  margin: 0;
  font-size: inherit;
  font-weight: 900;
  font-family: inherit;
}
.film-promocyjny-to {
  font-size: var(--font-size-6xl);
  font-weight: 500;
  justify-content: center;
}
.text3frame {
  flex-direction: column;
  gap: var(--gap-mini);
}
.monta-filmw-promocyjnych,
.page3,
.text3frame {
  display: flex;
  align-items: center;
  justify-content: center;
}
.page3 {
  align-self: stretch;
  background-color: var(--color-white);
  height: 710px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-11xl) 0;
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
.monta-filmw-promocyjnych {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 900;
  font-family: inherit;
  width: 700px;
}
.chcesz-wyrni-si-na-tle-kon-wrapper {
  border-radius: var(--br-61xl);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xl);
  font-size: var(--font-size-6xl);
  color: var(--color-black);
}
.o-mojej-usudze {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  justify-content: center;
  width: 700px;
}
.kady-film-to,
.o-mojej-usudze,
.page4,
.page42 {
  display: flex;
  align-items: center;
}
.kady-film-to {
  position: relative;
  font-size: var(--font-size-6xl);
  font-weight: 500;
  text-align: left;
  width: 700px;
}
.page4,
.page42 {
  justify-content: center;
}
.page42 {
  flex: 1;
  background-color: var(--color-black);
  height: 1440px;
  overflow: hidden;
  flex-direction: column;
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
.page4 {
  align-self: stretch;
  flex-direction: row;
}
.online-marketing-dla {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  width: 700px;
}
.dziki-mojej-wiedzy,
.rozwijasz-may-biznes {
  position: relative;
  font-weight: 500;
  display: inline-block;
  width: 700px;
}
.rozwijasz-may-biznes {
  flex-shrink: 0;
}
.dziki-mojej-wiedzy {
  font-size: var(--font-size-6xl);
  text-align: left;
}
.page51 {
  flex: 1;
  background-color: var(--color-white);
  height: 720px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-mini);
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
.googlemap2 {
  position: relative;
  background-color: var(--color-gray-100);
  width: 500px;
  height: 435px;
  overflow: hidden;
  flex-shrink: 0;
}
.page52 {
  flex: 1;
  background-color: var(--color-black);
  height: 720px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.analiza {
  margin: 0;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  width: 1880px;
}
.analiza,
.wstpna-konsultacja-i-container {
  position: relative;
}
.wstpna-konsultacja-i-diagnoza-wrapper {
  border-radius: var(--br-61xl);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xl);
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.page6,
.text65frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.page6 {
  align-self: stretch;
  background-color: var(--color-black);
  height: 720px;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: center;
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
.interesuj-cie-moja,
.kontakt2 {
  margin: 0;
  position: relative;
  font-size: 50px;
  font-weight: 900;
  font-family: inherit;
}
.interesuj-cie-moja {
  font-size: inherit;
}
.vector-icon {
  position: absolute;
  height: 100%;
  width: 62.5%;
  top: 0;
  right: 18.75%;
  bottom: 0;
  left: 18.75%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.phoneicon {
  text-decoration: none;
  position: relative;
  width: 40px;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
}
.phoneframe {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.vector-icon1 {
  position: absolute;
  height: 68.88%;
  width: 84.42%;
  top: 15.56%;
  right: 7.79%;
  bottom: 15.56%;
  left: 7.79%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ndmesssagmailcom {
  text-decoration: underline;
  position: relative;
  font-weight: 900;
  color: inherit;
}
.gmailframe {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-11xl);
  text-align: center;
}
.group-icon,
.vector-icon2,
.vector-icon4 {
  position: absolute;
  height: 83.33%;
  width: 83.33%;
  top: 8.33%;
  right: 8.33%;
  bottom: 8.33%;
  left: 8.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon,
.vector-icon4 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.vector-icon4 {
  height: 82.81%;
  width: 79.69%;
  top: 7.03%;
  right: 10.16%;
  bottom: 10.16%;
  left: 10.16%;
}
.page71,
.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-media {
  flex-direction: row;
  padding: 16px;
  gap: 16px;
}
.page71 {
  align-self: stretch;
  flex: 1;
  overflow: hidden;
  flex-direction: column;
  gap: var(--gap-11xl);
}
.googlemap3 {
  border: 0;
  position: relative;
  background-color: var(--color-gray-100);
  width: 500px;
  height: 500px;
  overflow: hidden;
  flex-shrink: 0;
}
.page72 {
  align-self: stretch;
  flex: 1;
  padding: var(--padding-11xl) 0;
}
.page7,
.page72,
.page7frame {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.page7frame {
  flex: 1;
  background-color: var(--color-black);
  height: 720px;
  gap: var(--gap-11xl);
}
.page7 {
  align-self: stretch;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
.copyright-2023 {
  margin: 0;
  position: relative;
  font-weight: 700;
}
.footerframe {
  align-self: stretch;
  flex: 1;
  background-color: var(--color-black);
  overflow: hidden;
}
.footer,
.footerframe,
.site {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer {
  align-self: stretch;
  height: 100px;
  overflow: hidden;
  flex-shrink: 0;
  text-align: justify;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
.site {
  position: relative;
  width: 100%;
}
#progress {
  position: fixed;
  bottom: 20px;
  right: 10px;
  height: 70px;
  width: 70px;
  display: none;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0);
  cursor: pointer;
}
#progress-value {
  display: block;
  height: calc(100% - 15px);
  width: calc(100% - 15px);
  background-color: #000000;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 35px;
  color: #ffffff;
}
@media screen and (max-width: 1920px) {
  .kontakt {
    width: auto;
    align-self: unset;
    align-items: center;
    justify-content: flex-end;
  }
  .navbarkontakt {
    gap: var(--gap-81xl);
  }
  .uslugi,
  .uslugi1,
  .uslugi2,
  .uslugi3 {
    width: auto;
    align-self: unset;
    align-items: center;
    justify-content: flex-end;
  }
  .navbarkontakt1 {
    gap: var(--gap-11xl);
  }
  .przygotowanie-nieruchomoci-do {
    width: 800px;
  }
  .page1 {
    height: 1080px;
  }
  .main,
  .main1 {
    flex: unset;
    align-self: stretch;
  }
  .main1 {
    height: 1080px;
  }
  .page2 {
    flex-direction: column;
  }
  .czy-chcesz-by,
  .dlaczego-warto-mi-container2,
  .film-promocyjny-to,
  .filmiki-z-drona-container,
  .filmy-promocyjne-dla {
    width: 1200px;
  }
  .page3 {
    height: auto;
  }
  .page42 {
    flex: unset;
    align-self: stretch;
  }
  .page4 {
    flex-direction: column;
  }
  .page51,
  .page52,
  .page7frame {
    flex: unset;
    align-self: stretch;
  }
  .page7 {
    flex-direction: column;
  }
}
@media screen and (max-width: 1280px) {
  .navbarkontakt {
    gap: var(--gap-81xl);
  }
  .navbarkontakt1 {
    flex-direction: column;
    gap: var(--gap-11xl);
  }
  .przygotowanie-nieruchomoci-do {
    font-weight: 500;
    font-family: var(--font-roboto);
    width: 420px;
  }
  .page1 {
    height: 800px;
  }
  .planujesz-sprzeda-lub {
    font-size: var(--font-size-mini);
  }
  .co-oferuj {
    font-size: var(--font-size-6xl);
  }
  .filmiki-promocyjne-z-container {
    font-size: var(--font-size-mini);
  }
  .dlaczego-warto-mi-container {
    font-size: var(--font-size-6xl);
  }
  .nie-jestem-porednikiem {
    font-size: var(--font-size-mini);
  }
  .main {
    height: 800px;
  }
  .googlemap {
    width: 400px;
    height: 400px;
  }
  .main1 {
    height: 600px;
  }
  .filmy-promocyjne-dla {
    font-size: var(--font-size-6xl);
    width: 700px;
  }
  .czy-chcesz-by,
  .filmiki-z-drona-container {
    font-size: var(--font-size-mini);
    width: 700px;
  }
  .dlaczego-warto-mi-container2 {
    font-size: var(--font-size-6xl);
    width: 700px;
  }
  .film-promocyjny-to {
    font-size: var(--font-size-mini);
    width: 700px;
  }
  .monta-filmw-promocyjnych,
  .o-mojej-usudze {
    font-size: var(--font-size-6xl);
  }
  .kady-film-to {
    font-size: var(--font-size-mini);
  }
  .page42 {
    height: 800px;
  }
  .online-marketing-dla {
    font-size: var(--font-size-6xl);
  }
  .dziki-mojej-wiedzy,
  .rozwijasz-may-biznes {
    font-size: var(--font-size-mini);
  }
  .page51 {
    height: 500px;
  }
  .analiza {
    font-size: var(--font-size-6xl);
    width: 700px;
  }
  .wstpna-konsultacja-i-container {
    font-size: var(--font-size-mini);
    width: 700px;
  }
  .page71 {
    flex: unset;
    align-self: stretch;
  }
  .googlemap3 {
    width: 400px;
    height: 400px;
  }
  .page72 {
    flex: unset;
    align-self: stretch;
  }
  .page7frame {
    flex: 1;
    flex-direction: column;
  }
  .page7 {
    flex-direction: row;
  }
  .copyright-2023 {
    font-size: var(--font-size-base);
  }
}
@media screen and (max-width: 412px) {
  .navbarkontakt {
    gap: var(--gap-81xl);
  }
  .przygotowanie-nieruchomoci {
    text-align: center;
  }
  .uslugi {
    width: 220px;
    align-items: center;
    justify-content: flex-end;
  }
  .navbarkontakt1 {
    gap: var(--gap-mini);
    padding-top: 150px;
    box-sizing: border-box;
  }
  .przygotowanie-nieruchomoci-do {
    width: 360px;
  }
  .co-oferuj,
  .dlaczego-warto-mi-container,
  .filmiki-promocyjne-z-container,
  .nie-jestem-porednikiem,
  .planujesz-sprzeda-lub {
    width: 320px;
  }
  .main {
    height: 1100px;
    align-items: center;
    justify-content: center;
  }
  .googlemap {
    width: 320px;
    height: 400px;
  }
  .main1 {
    height: 915px;
    align-items: center;
    justify-content: center;
  }
  .czy-chcesz-by,
  .dlaczego-warto-mi-container2,
  .film-promocyjny-to,
  .filmiki-z-drona-container,
  .filmy-promocyjne-dla {
    width: 320px;
  }
  .page3 {
    align-items: center;
    justify-content: center;
  }
  .kady-film-to,
  .monta-filmw-promocyjnych,
  .o-mojej-usudze {
    width: 320px;
  }
  .page42 {
    height: 1100px;
    align-items: center;
    justify-content: center;
  }
  .dziki-mojej-wiedzy,
  .online-marketing-dla,
  .rozwijasz-may-biznes {
    width: 320px;
  }
  .page51 {
    align-items: center;
    justify-content: center;
  }
  .googlemap2 {
    width: 320px;
  }
  .page52 {
    align-items: center;
    justify-content: center;
  }
  .analiza,
  .wstpna-konsultacja-i-container {
    width: 320px;
  }
  .text65frame {
    flex: 1;
  }
  .page6 {
    height: 1100px;
    align-items: center;
    justify-content: center;
  }
  .interesuj-cie-moja {
    text-align: center;
  }
  .ndmesssagmailcom {
    display: none;
  }
  .gmailframe {
    gap: 5px;
  }
  .social-media {
    gap: 8px;
  }
  .page71 {
    gap: 10px;
    padding-top: 15px;
    box-sizing: border-box;
  }
  .googlemap3 {
    width: 320px;
  }
  .googlemap3,
  .page72 {
    height: 400px;
  }
  .page7 {
    align-items: center;
    justify-content: center;
  }
  .copyright-2023 {
    font-size: var(--font-size-base);
  }
}
