@keyframes shadow-pop-tr {
  0% {
    box-shadow: 0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18),
      0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18),
      0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18),
      0 0 rgba(62, 62, 62, 0.18), 0 0 rgba(62, 62, 62, 0.18);
    transform: translateX(0) translateY(0);
  }
  to {
    box-shadow: 1px -1px rgba(62, 62, 62, 0.18), 2px -2px rgba(62, 62, 62, 0.18),
      3px -3px rgba(62, 62, 62, 0.18), 4px -4px rgba(62, 62, 62, 0.18),
      5px -5px rgba(62, 62, 62, 0.18), 6px -6px rgba(62, 62, 62, 0.18),
      7px -7px rgba(62, 62, 62, 0.18), 8px -8px rgba(62, 62, 62, 0.18);
    transform: translateX(-8px) translateY(8px);
  }
}
.div1,
.ndmessa {
  display: flex;
  align-items: center;
}
.ndmessa {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  width: 642px;
  flex-shrink: 0;
}
.div1 {
  flex: 1;
  flex-direction: row;
  justify-content: center;
}
.android-chrome-512x512-1-icon {
  position: relative;
  width: 197.6px;
  height: 204.8px;
  object-fit: cover;
}
.div,
.div2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.div2 {
  flex: 1;
}
.div {
  align-self: stretch;
}
.div6 {
  flex: 1;
  position: relative;
  -webkit-text-stroke: 1px #000;
}
.div5 {
  align-self: stretch;
  height: 68px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.przygotowanie {
  margin: 0;
}
.przygotowanie-nieruchomoci {
  flex: 1;
  position: relative;
  -webkit-text-stroke: 1px #000;
}
.div4,
.div7 {
  display: flex;
  align-items: center;
}
.div7 {
  align-self: stretch;
  height: 68px;
  flex-direction: row;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-11xl);
}
.div4 {
  flex: 1;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-3xs);
  gap: var(--gap-340xl);
  background-image: url(./public/121@3x.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  cursor: pointer;
  text-align: right;
}
.div12:hover,
.div16:hover,
.div4:hover,
.div8:hover {
  animation: 30s ease 0s 1 alternate-reverse none shadow-pop-tr;
  opacity: 1;
}
.div10 {
  position: absolute;
  top: -2px;
  right: -1px;
  -webkit-text-stroke: 1px #000;
}
.div9 {
  align-self: stretch;
  position: relative;
  height: 68px;
}
.filmy-promocyjne {
  position: absolute;
  bottom: -2px;
  left: 0;
  -webkit-text-stroke: 1px #000;
}
.div11 {
  align-self: stretch;
  position: relative;
  height: 68px;
  font-size: var(--font-size-11xl);
}
.div8 {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  gap: var(--gap-340xl);
  background-image: url(./public/122@3x.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  cursor: pointer;
}
.div14 {
  position: absolute;
  top: -3px;
  right: 0;
  -webkit-text-stroke: 1px #000;
}
.div12 {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  gap: var(--gap-340xl);
  background-image: url(./public/123@3x.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  cursor: pointer;
}
.div18 {
  position: absolute;
  top: -2px;
  right: 0;
  -webkit-text-stroke: 1px #000;
}
.div16,
.div3,
.page-1 {
  display: flex;
  align-items: center;
}
.div16 {
  flex: 1;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-3xs);
  gap: var(--gap-340xl);
  background-image: url(./public/124@3x.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  cursor: pointer;
}
.div3,
.page-1 {
  align-self: stretch;
}
.div3 {
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-xl);
  font-size: var(--font-size-31xl);
  color: var(--color-white);
}
.page-1 {
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-61xl);
  gap: var(--gap-61xl);
  font-size: 120px;
}
.przygotowanie-nieruchomoci1 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.div21 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.div23 {
  flex: 1;
  position: relative;
}
.div20,
.div22 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.div22 {
  flex: 1;
  text-align: right;
}
.div20 {
  font-size: var(--font-size-31xl);
  font-family: var(--font-rubik-one);
}
.planujesz-sprzeda-lub-container {
  flex: 1;
  position: relative;
}
.a-house-located-in-the-normand {
  position: absolute;
  height: calc(100% + 0.1px);
  width: 100%;
  top: 0;
  right: 0;
  bottom: -0.1px;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.div26 {
  align-self: stretch;
  flex: 1;
  position: relative;
}
.div25,
.div27 {
  flex-direction: row;
  justify-content: center;
}
.div27 {
  flex: 1;
  display: flex;
  align-items: center;
}
.div25 {
  gap: var(--gap-61xl);
}
.div25,
.div28,
.page-2 {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.page-2 {
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-61xl);
  gap: var(--gap-61xl);
  font-size: var(--font-size-6xl);
  font-family: var(--font-arimo);
}
.div28 {
  flex-direction: row;
  justify-content: flex-end;
}
.domki-noclegowe,
.filmy-promocyjne-domkw {
  align-self: stretch;
  position: relative;
}
.filmy-promocyjne-domkw {
  font-size: var(--font-size-6xl);
}
.div36,
.div37 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.div37 {
  align-self: stretch;
  gap: var(--gap-3xs);
}
.div36 {
  flex: 1;
  gap: var(--gap-xl);
}
.div33,
.div35 {
  align-self: stretch;
  display: flex;
}
.div35 {
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-21xl);
  font-size: var(--font-size-11xl);
}
.div33 {
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-61xl);
}
.https-s2glbimg-1-icon {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 800px;
  object-fit: cover;
}
.div32,
.div42 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.div42 {
  flex: 1;
}
.div32 {
  gap: var(--gap-61xl);
  font-size: var(--font-size-6xl);
  font-family: var(--font-arimo);
}
.div32,
.div49,
.page-3 {
  align-self: stretch;
}
.page-3 {
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-61xl);
  gap: var(--gap-61xl);
}
.div49 {
  flex: 1;
  position: relative;
}
.div48,
.div50 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.div50 {
  flex: 1;
}
.div48 {
  align-self: stretch;
  gap: var(--gap-61xl);
}
.online-marketing-dla {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.div53 {
  flex: 1;
  text-align: right;
}
.div51,
.div53 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.a-business-man-working-with-bi {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.analiza,
.div57 {
  align-self: stretch;
}
.div57 {
  height: 366px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.analiza {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.wstpna-konsultacja-i-container {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xl);
  text-align: left;
}
.div56,
.div58 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.div58 {
  align-self: stretch;
}
.div56 {
  flex: 1;
}
.tworzenie-stron {
  font-family: var(--font-arimo);
}
.div55,
.div63 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.div63 {
  height: 367px;
  flex-direction: column;
  justify-content: flex-start;
}
.div55 {
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-21xl);
  text-align: center;
  font-size: var(--font-size-11xl);
  font-family: var(--font-arimo);
}
.interesuj-cie-moja {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.vector-icon {
  position: absolute;
  height: 100%;
  width: 62.5%;
  top: 0;
  right: 18.75%;
  bottom: 0;
  left: 18.75%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.phoneicon {
  text-decoration: none;
  position: relative;
  width: 40px;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
}
.phoneframe {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.vector-icon1 {
  position: absolute;
  height: 69%;
  width: 84.5%;
  top: 15.5%;
  right: 7.75%;
  bottom: 15.5%;
  left: 7.75%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.gmailicon,
.ndmesssagmailcom {
  text-decoration: none;
  position: relative;
}
.gmailicon {
  width: 40px;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
}
.ndmesssagmailcom {
  font-weight: 700;
  color: inherit;
}
.gmailframe {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-xl);
  gap: var(--gap-xl);
}
.group-icon,
.vector-icon2,
.vector-icon4 {
  position: absolute;
  height: 83.25%;
  width: 83.25%;
  top: 8.25%;
  right: 8.5%;
  bottom: 8.5%;
  left: 8.25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon,
.vector-icon4 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.vector-icon4 {
  height: 82.75%;
  width: 79.75%;
  top: 7%;
  right: 10%;
  bottom: 10.25%;
  left: 10.25%;
}
.div70,
.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xl);
}
.social-media {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-xl);
}
.div70 {
  flex: 1;
  overflow: hidden;
  flex-direction: column;
}
.googlebussnies {
  align-self: stretch;
  flex: 1;
  position: relative;
  background-color: var(--color-black);
  overflow: hidden;
}
.div69,
.div71 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.div71 {
  flex: 1;
  height: 500px;
}
.div69 {
  align-self: stretch;
  gap: var(--gap-61xl);
  text-align: center;
  font-size: var(--font-size-6xl);
  font-family: var(--font-arimo);
}
.copyright-2023 {
  margin: 0;
  flex: 1;
  position: relative;
  font-weight: 700;
}
.footer-1,
.footer-frame,
.site {
  display: flex;
  align-items: center;
}
.footer-frame {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
}
.footer-1,
.site {
  overflow: hidden;
  flex-direction: column;
}
.footer-1 {
  align-self: stretch;
  background-color: var(--color-white);
  justify-content: center;
  text-align: center;
  font-size: var(--font-size-xl);
  font-family: var(--font-arimo);
}
.site {
  position: relative;
  width: 100%;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-31xl);
  color: var(--color-black);
  font-family: var(--font-rubik-one);
}
#progress {
  position: fixed;
  bottom: 20px;
  right: 10px;
  height: 70px;
  width: 70px;
  display: none;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0);
  cursor: pointer;
}
#progress-value {
  display: block;
  height: calc(100% - 15px);
  width: calc(100% - 15px);
  background-color: #000000;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 35px;
  color: #ffffff;
}
iframe{
  filter: invert(100%);
}
@media screen and (max-width: 1366px) {
  .div1,
  .div2 {
    flex: unset;
    align-self: stretch;
  }
  .div2 {
    align-items: center;
    justify-content: center;
  }
  .div {
    flex-direction: column;
  }
  .div12,
  .div16,
  .div4,
  .div8 {
    flex: unset;
    align-self: stretch;
  }
  .div3 {
    flex-direction: column;
  }
  .div26 {
    display: none;
  }
  .div26,
  .div27 {
    flex: unset;
    align-self: stretch;
  }
  .div25 {
    flex-direction: column;
  }
  .div33,
  .div42 {
    flex: unset;
    align-self: stretch;
  }
  .div42 {
    display: none;
  }
  .div32 {
    flex-direction: column;
  }
  .div49,
  .div57 {
    display: none;
  }
  .div56 {
    flex: unset;
    align-self: stretch;
  }
  .div63 {
    display: none;
  }
  .div55 {
    flex-direction: column;
  }
  .div70,
  .div71 {
    flex: unset;
    align-self: stretch;
  }
  .div69 {
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .ndmessa {
    font-size: 45px;
    text-align: center;
    flex: 1;
  }
  .div,
  .div1 {
    align-items: center;
  }
  .div1 {
    flex-direction: row;
    justify-content: flex-start;
    padding-right: 0;
    box-sizing: border-box;
  }
  .div {
    justify-content: center;
  }
  .filmy-promocyjne,
  .przygotowanie-nieruchomoci {
    font-size: var(--font-size-6xl);
  }
  .przygotowanie-nieruchomoci1 {
    font-size: var(--font-size-11xl);
  }
  .div21 {
    flex: unset;
    align-self: stretch;
  }
  .div23 {
    text-align: center;
  }
  .div22 {
    flex: unset;
    align-self: stretch;
  }
  .div20,
  .div28 {
    flex-direction: column;
  }
  .online-marketing-dla {
    font-size: var(--font-size-11xl);
    text-align: center;
  }
  .div51,
  .div53 {
    align-items: center;
    justify-content: center;
  }
  .div53 {
    flex: unset;
    align-self: stretch;
  }
  .div51 {
    flex-direction: column;
  }
  .gmailframe {
    align-self: stretch;
    width: auto;
    flex-direction: row;
  }
  .div70 {
    width: auto;
    align-self: unset;
    align-items: center;
    justify-content: center;
  }
  .copyright-2023 {
    font-size: var(--font-size-base);
  }
}
@media screen and (max-width: 412px) {
  .ndmessa {
    text-align: center;
  }
  .div1 {
    align-items: center;
    justify-content: center;
  }
  .domki-noclegowe,
  .filmy-promocyjne-domkw,
  .planujesz-sprzeda-lub-container {
    font-size: var(--font-size-mini);
  }
  .div36 {
    flex: unset;
    align-self: stretch;
  }
  .div35 {
    flex-direction: column;
  }
  .analiza,
  .wstpna-konsultacja-i-container {
    font-size: var(--font-size-mini);
  }
  .interesuj-cie-moja {
    text-align: center;
  }
  .ndmesssagmailcom {
    display: none;
  }
  .gmailframe {
    gap: 5px;
  }
  .social-media {
    gap: 8px;
  }
  .div70 {
    gap: var(--gap-3xs);
    padding-top: 15px;
    box-sizing: border-box;
  }
  .copyright-2023 {
    font-size: var(--font-size-base);
  }
}
