body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  background: white; 
  overflow: auto;
}

.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: 
    radial-gradient(circle at 20% 50%, #005bc5, #8313ec 70%),
    radial-gradient(circle at 80% 50%, #8313ec, #005bc5 70%),
    radial-gradient(circle at 50% 20%, #005bc5, #8313ec 70%),
    radial-gradient(circle at 50% 80%, #8313ec, #005bc5 70%);
}

.loading-container {
  margin-bottom: 10px;
  color: white; /* biały kolor napisu */
  font-size: 48px; 
  font-family: 'Baloo', sans-serif;
}

.progress-container {
  width: 100px;
  height: 10px;
  background-color: white; /* białe tło dla paska postępu */
  border-radius: 80px;
  align-self: center;
}

.progress-bar {
  height: 10px;
  width: 0%;
  background-color: black; /* czarny kolor wypełnienia paska */
  border-radius: 80px;
}

.content {
  display: none;
  text-align: center;
  box-sizing: border-box;
  height: 100vh;
}

.hidden {
  display: none;
}

.hidden-seo {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    z-index: -1;
}

.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}
.doradztwo,
.porednictwo {
  text-decoration: none;
  position: relative;
  color: inherit;
  cursor: pointer;
  z-index: 1;
}
.doradztwo:hover,
.ndmesssagmailcom8:hover,
.porednictwo:hover {
  color: var(--color-gray-100);
}
.doradztwo {
  z-index: 0;
}
.topics2 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
  z-index: 1;
}
.vector-icon2 {
  position: relative;
  width: 66.67px;
  height: 60px;
  cursor: pointer;
  z-index: 0;
}
.links2,
.navbar2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.links2 {
  margin: 0;
  align-self: stretch;
  flex-direction: row;
  z-index: 0;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-baloo);
}
.navbar2 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 108px;
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-xl) var(--padding-21xl);
  box-sizing: border-box;
}
.logo-icon {
  position: relative;
  width: 573px;
  height: 600px;
  object-fit: cover;
}
.logo-frame2,
.logo2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo-frame2 {
  z-index: 0;
}
.logo2 {
  position: absolute;
  height: 29.03%;
  width: 100%;
  top: 3.23%;
  right: 0;
  bottom: 67.74%;
  left: 0;
  overflow: hidden;
}
.porednictwo-nieruchomoci {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.unsplash4ojhpgkps68-icon {
  position: relative;
  border-radius: var(--br-xl);
  width: 448px;
  height: 448px;
  object-fit: cover;
}
.co-wyrnia-mnie {
  margin: 0;
  font-weight: 900;
}
.nie-pobieram-prowizji-w-postac {
  margin: 0;
  font-size: var(--font-size-base);
  padding-left: var(--padding-2xl);
}
.co-wyrnia-mnie-container {
  position: relative;
  display: inline-block;
  width: 625px;
}
.profesjonalny-film-oraz-zdjci {
  margin-bottom: 0;
}
.content-38,
.tekst8 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tekst8 {
  flex-direction: column;
  padding: 0 0 0 var(--padding-3xs);
  gap: var(--gap-13xl);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
.content-38 {
  flex-direction: row;
  gap: var(--gap-45xl);
}
.logosgoogle-gmail-icon8 {
  position: relative;
  width: 40px;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
}
.ndmesssagmailcom8 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: var(--font-size-13xl);
  font-family: var(--font-baloo);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
.content-18,
.content-28,
.fast-contact8,
.gmail8 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.gmail8 {
  gap: var(--gap-11xl);
  cursor: pointer;
}
.content-18,
.content-28,
.fast-contact8 {
  gap: var(--gap-13xl);
}
.content-18,
.content-28 {
  flex-direction: column;
  gap: var(--gap-45xl);
}
.content-18 {
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--color-white);
  font-family: var(--font-baloo);
}
.topic-11 {
  position: absolute;
  height: 32.26%;
  width: 100%;
  top: 32.26%;
  right: 0;
  bottom: 35.48%;
  left: 0;
  overflow: hidden;
  flex-direction: column;
}
.kontakt,
.tekst9,
.topic-11,
.topic-12 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tekst9 {
  flex-direction: column;
  gap: var(--gap-13xl);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
.kontakt,
.topic-12 {
  flex-direction: row;
}
.topic-12 {
  position: absolute;
  height: 32.26%;
  width: 100%;
  top: 64.52%;
  right: 0;
  bottom: 3.23%;
  left: 0;
  overflow: hidden;
  flex-direction: column;
}
.copyright-20232 {
  margin: 0;
  align-self: stretch;
  position: relative;
}
.footer2,
.nieruchomosci {
  width: 100%;
  overflow: hidden;
}
.footer2 {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 108px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-95xl) 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-baloo);
}
.nieruchomosci {
  position: relative;
  height: 3348px;
  background-image: url(./public/nieruchomosci@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
#progress {
  position: fixed;
  bottom: 20px;
  right: 10px;
  height: 70px;
  width: 70px;
  display: none;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  cursor: pointer;
  z-index: 1000;
}

#progress-value {
  display: block;
  height: calc(100% - 15px);
  width: calc(100% - 15px);
  background-color: #000000;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 35px;
  color: #ffffff;
}
@media screen and (max-width: 1200px) {
  .doradztwo,
  .porednictwo {
    font-size: var(--font-size-5xl);
  }
  .navbar2 {
    padding: var(--padding-xl);
    box-sizing: border-box;
  }
  .porednictwo-nieruchomoci {
    font-size: var(--font-size-21xl);
  }
  .unsplash4ojhpgkps68-icon {
    width: 350px;
    height: 350px;
  }
  .co-wyrnia-mnie-container,
  .tekst9 {
    width: 525px;
  }
}
@media screen and (max-width: 960px) {
  .topics2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar2 {
    height: 112px;
    padding: var(--padding-3xs);
    box-sizing: border-box;
  }
  .logo-icon {
    width: 300px;
    height: 300px;
  }
  .logo2 {
    height: 940px;
  }
  .porednictwo-nieruchomoci {
    font-size: var(--font-size-13xl);
  }
  .unsplash4ojhpgkps68-icon {
    display: none;
  }
  .co-wyrnia-mnie-container {
    font-size: var(--font-size-base);
    width: 400px;
  }
  .ndmesssagmailcom8 {
    font-size: var(--font-size-5xl);
  }
  .fast-contact8 {
    flex-direction: column;
  }
  .tekst9 {
    width: 400px;
  }
  .copyright-20232 {
    font-size: var(--font-size-base);
  }
}
@media screen and (max-width: 420px) {
  .logo-icon {
    width: 300px;
    height: 300px;
  }
  .logo2 {
    height: 940px;
  }
  .co-wyrnia-mnie-container {
    width: 340px;
  }
  .tekst8,
  .tekst9 {
    width: 340px;
    gap: var(--gap-base);
  }
  .tekst9 {
    padding-left: var(--padding-3xs);
    box-sizing: border-box;
  }
  .copyright-20232 {
    font-size: var(--font-size-base);
  }
  .content-38 {
    gap: 8px;
}
.content-28 {
  gap: 16px;
}
}
