/* Mój własny plik normalize.css */

/* Usuń marginesy i wyrównanie w elemencie body */
body {
    margin: 0;
    padding: 0;
  }
  
  /* Ustalenie wysokości linii na 16px */
  html {
    line-height: 1.6;
  }
  
  /* Ustalenie szerokości elementów na szerokość ich zawartości */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
