body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  background: white; 
  overflow: auto;
}

.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: 
    radial-gradient(circle at 20% 50%, #005bc5, #8313ec 70%),
    radial-gradient(circle at 80% 50%, #8313ec, #005bc5 70%),
    radial-gradient(circle at 50% 20%, #005bc5, #8313ec 70%),
    radial-gradient(circle at 50% 80%, #8313ec, #005bc5 70%);
}

.loading-container {
  margin-bottom: 10px;
  color: white; /* biały kolor napisu */
  font-size: 48px; 
  font-family: 'Baloo', sans-serif;
}

.progress-container {
  width: 100px;
  height: 10px;
  background-color: white; /* białe tło dla paska postępu */
  border-radius: 80px;
  align-self: center;
}

.progress-bar {
  height: 10px;
  width: 0%;
  background-color: black; /* czarny kolor wypełnienia paska */
  border-radius: 80px;
}

.content {
  display: none;
  text-align: center;
  box-sizing: border-box;
  height: 100vh;
}

.hidden-heading {
  display: none;
}
.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}
.biznes-online,
.biznes-online-od,
.marketing-produktu-online {
  text-decoration: none;
  position: relative;
  color: inherit;
  cursor: pointer;
  z-index: 2;
}
.biznes-online-od:hover,
.biznes-online:hover,
.marketing-produktu-online:hover {
  color: var(--color-gray-100);
}
.biznes-online-od,
.marketing-produktu-online {
  z-index: 1;
}
.marketing-produktu-online {
  z-index: 0;
}
.topics {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  z-index: 1;
}
.vector-icon {
  position: relative;
  width: 66.67px;
  height: 60px;
  cursor: pointer;
  z-index: 0;
}
.links,
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.links {
  margin: 0;
  align-self: stretch;
  flex-direction: row;
  z-index: 0;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-baloo);
}
.navbar {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 108px;
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-xl) var(--padding-21xl);
  box-sizing: border-box;
}
.group-o-1 {
  position: relative;
  width: 582.07px;
  height: 600px;
  object-fit: cover;
}
.logo,
.logo-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo-frame {
  z-index: 0;
}
.logo {
  position: absolute;
  height: 21.95%;
  width: 100%;
  top: 2.44%;
  right: 0;
  bottom: 75.61%;
  left: 0;
  overflow: hidden;
}
.biznes-online1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.01em;
  line-height: 150%;
  font-weight: 400;
  font-family: inherit;
}
.unsplashguij0yszpig-icon {
  position: relative;
  border-radius: var(--br-xl);
  width: 448px;
  height: 448px;
  object-fit: cover;
}
.tworzenie-strategii-marketingo {
  margin: 0;
  font-weight: 900;
}
.oferuje-kompleksowe-analizy-ry {
  margin: 0;
  font-size: var(--font-size-base);
  padding-left: var(--padding-2xl);
}
.tworzenie-strategii-marketingo-container {
  position: relative;
  display: inline-block;
  width: 582px;
}
.analizuje-zachowanie-uytkowni1 {
  margin-bottom: 0;
}
.content-3,
.tekst {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tekst {
  flex-direction: column;
  gap: var(--gap-13xl);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
.content-3 {
  flex-direction: row;
  gap: var(--gap-45xl);
}
.logosgoogle-gmail-icon {
  position: relative;
  width: 40px;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
}
.ndmesssagmailcom {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: var(--font-size-13xl);
  font-family: var(--font-baloo);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
.ndmesssagmailcom:hover {
  color: var(--color-whitesmoke-100);
}
.gmail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-11xl);
  cursor: pointer;
}
.button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: var(--font-size-13xl);
  font-family: var(--font-baloo);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
.button:hover {
  color: var(--color-gray-100);
}
.fast-contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-13xl);
}
.content-2 {
  gap: var(--gap-45xl);
}
.content-1,
.content-2,
.topic-31 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content-1 {
  gap: var(--gap-45xl);
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--color-white);
  font-family: var(--font-baloo);
}
.topic-31 {
  position: absolute;
  height: calc(100% - 3348px);
  width: 100%;
  top: 1080px;
  right: 0;
  bottom: 2268px;
  left: 0;
  overflow: hidden;
}
.budowanie-obecnoci-online-container {
  position: relative;
  display: inline-block;
  width: 585px;
}
.tekst1 {
  flex-direction: column;
  gap: var(--gap-13xl);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
.content-11,
.fast-contact1,
.tekst1,
.topic-32 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fast-contact1 {
  flex-direction: row;
  gap: var(--gap-13xl);
}
.content-11,
.topic-32 {
  flex-direction: column;
}
.content-11 {
  gap: var(--gap-45xl);
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--color-white);
  font-family: var(--font-baloo);
}
.topic-32 {
  position: absolute;
  height: calc(100% - 3348px);
  width: 100%;
  top: 2160px;
  right: 0;
  bottom: 1188px;
  left: 0;
  overflow: hidden;
  padding: 175px 158px;
  box-sizing: border-box;
}
.badanie-rynku-i-container {
  position: relative;
  display: inline-block;
  width: 587px;
}
.content-12,
.topic-33 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content-12 {
  gap: var(--gap-45xl);
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--color-white);
  font-family: var(--font-baloo);
}
.topic-33 {
  position: absolute;
  height: calc(100% - 3348px);
  width: 100%;
  top: 3240px;
  right: 0;
  bottom: 108px;
  left: 0;
  overflow: hidden;
  padding: 170px 107px;
  box-sizing: border-box;
}
.copyright-2023 {
  margin: 0;
  align-self: stretch;
  position: relative;
}
.footer,
.onlinemarketing {
  width: 100%;
  overflow: hidden;
}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 108px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-95xl) 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-baloo);
}
.onlinemarketing {
  position: relative;
  height: 4428px;
  background-image: url(./public/onlinemarketing@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
#progress {
  position: fixed;
  bottom: 20px;
  right: 10px;
  height: 70px;
  width: 70px;
  display: none;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  cursor: pointer;
  z-index: 1000;
}

#progress-value {
  display: block;
  height: calc(100% - 15px);
  width: calc(100% - 15px);
  background-color: #000000;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 35px;
  color: #ffffff;
}
@media screen and (max-width: 1200px) {
  .biznes-online,
  .biznes-online-od,
  .marketing-produktu-online {
    font-size: var(--font-size-5xl);
  }
  .navbar {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .biznes-online1 {
    font-size: var(--font-size-21xl);
  }
  .unsplashguij0yszpig-icon {
    width: 350px;
    height: 350px;
  }
  .budowanie-obecnoci-online-container,
  .tekst,
  .tekst1,
  .tworzenie-strategii-marketingo-container {
    width: 525px;
  }
  .content-11 {
    width: 907px;
    height: 689px;
  }
  .badanie-rynku-i-container {
    width: 525px;
  }
}
@media screen and (max-width: 960px) {
  .topics {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar {
    height: 166px;
    padding: var(--padding-3xs);
    box-sizing: border-box;
  }
  .group-o-1 {
    width: 300px;
    height: 300px;
  }
  .biznes-online1 {
    font-size: var(--font-size-13xl);
  }
  .unsplashguij0yszpig-icon {
    display: none;
  }
  .tworzenie-strategii-marketingo-container {
    font-size: var(--font-size-base);
    width: 400px;
  }
  .tekst {
    width: 400px;
  }
  .button,
  .ndmesssagmailcom {
    font-size: var(--font-size-5xl);
  }
  .fast-contact {
    flex-direction: column;
    padding-top: 150px;
    box-sizing: border-box;
  }
  .content-1 {
    gap: var(--gap-45xl);
  }
  .budowanie-obecnoci-online-container {
    font-size: var(--font-size-base);
    width: 400px;
  }
  .tekst1 {
    width: 400px;
  }
  .fast-contact1 {
    flex-direction: column;
  }
  .content-11 {
    width: 400px;
    height: 910px;
    gap: var(--gap-13xl);
  }
  .badanie-rynku-i-container {
    font-size: var(--font-size-base);
    width: 400px;
  }
  .content-12 {
    gap: var(--gap-13xl);
  }
  .copyright-2023 {
    font-size: var(--font-size-base);
  }
}
@media screen and (max-width: 420px) {
  .navbar {
    height: 166px;
  }
  .group-o-1 {
    width: 300px;
    height: 300px;
  }
  .tworzenie-strategii-marketingo-container {
    font-size: var(--font-size-base);
    width: 340px;
  }
  .tekst {
    width: 340px;
  }
  .content-1,
  .tekst {
    gap: var(--gap-base);
  }
  .budowanie-obecnoci-online-container {
    font-size: var(--font-size-base);
    width: 340px;
  }
  .content-11,
  .tekst1 {
    width: 350px;
    gap: var(--gap-base);
  }
  .tekst1 {
    padding-left: var(--padding-3xs);
    box-sizing: border-box;
  }
  .content-11 {
    height: 940px;
  }
  .badanie-rynku-i-container {
    font-size: var(--font-size-base);
    width: 340px;
  }
  .content-12 {
    gap: var(--gap-base);
  }
  .content-3 {
    gap: 8px;
}
.content-2 {
  gap: 16px;
}
.fast-contact {
  gap: 2px;
}
}
